/* 
    Created on : Apr 5, 2016, 11:58:18 PM
    Author     : Pickel
*/

body {
    font-family: Palatino, Verdana, "Sans-serif";
}

header {
    /*background-color:black;*/
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(47,124,150,1), rgba(14,34,41,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(47,124,150,1), rgba(14,34,41,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(47,124,150,1), rgba(14,34,41,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(47,124,150,1), rgba(14,34,41,1)); /* Standard syntax */
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:rgba(47,124,150,.15);
    height:300px;
    width:100px;
    float:left;
    padding:5px;    
}

nav a:link, nav a:visited, section a:link {
    color: gray;
    text-decoration: none;
}

section {        
    width:350px;
    float:left;
    padding:10px;
}

footer {
    background-color:rgba(14,34,41,1);
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

footer a {
    color: firebrick;
}

li {
  list-style-type:none;
}

img {
    height:300px;
    width:530px;
}
